<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-success">
			<div class="panel-heading"><h4>Create event</h4></div>
			<div class="panel-body">
				<%= form_for @event do |f| %>
					<div class="form-group">
						<%= f.label :title %>
						<%= f.text_field :title, class: 'form-control', placeholder: "My Birthday Party" %>
					</div>

					<div class="form-group">
						<%= f.label :description %>
						<%= f.text_area :description, class: 'form-control', rows: '7', 
														placeholder: "Let's meetup and have a great time!" %>
					</div>

					<div class="form-group">
						<%= f.label :location %>
						<%= f.text_field :location, class: 'form-control', 
														 placeholder: "30 Rockefeller Plaza, NYC" %>
					</div>

					<div class="form-group">
						<%= f.label :datetime, "Date and Time" %>
						<%= f.datetime_select :datetime, class: 'datepicker' %>
					</div>
					
					<div class="form-group">
						<%= f.submit "Create", class: 'btn btn-success' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

