<h1>Event Page</h1>
<strong>Title:</strong> <%= @event.title %> <br/>
<strong>Created By:</strong> <%= link_to @event.creator.full_name, @event.creator if @event.creator %><br />
<strong>Time and Date:</strong> <%= @event.datetime %><br/><br/>
<strong>Admins:</strong>
<ul>
	<% @event.admins.each do |admin| %>
		<li><%= link_to admin.full_name, admin %></li>
	<% end %>
</ul>


<strong>Pending:</strong> 
<ul>
	<% @event.pending_invitees.each do |pending_invitee| %>
		<li><%= link_to pending_invitee.full_name, pending_invitee %></li>
	<% end %>
</ul><br/>

<strong>Attending:</strong> 
<ul>
	<% @event.attendees.each do |attendee| %>
		<li><%= link_to attendee.full_name, attendee %></li>
	<% end %>
</ul><br/>

<strong>Declined:</strong> 
<ul>
	<% @event.absentees.each do |absentee| %>
		<li><%= link_to absentee.full_name, absentee %></li>
	<% end %>
</ul><br/>

<%= link_to "Send Invite", new_invitation_path if @event.admin_or_creator?(current_user) %><br>

<%= link_to "Add admins", new_admin_path if @event.admin_or_creator?(current_user) %>

