<h2>New Invitation</h2>
<h3>Create Invitation for Event: <%= @event.title %></h3>

<%= form_for @invitation do |f| %>
	<p>
		<%= f.label :invitee, "Invitee Email:" %>
		<%= f.text_field :invitee %>
	</p>
	<p>
		<%= f.hidden_field :event_id %>
	</p>
	<p>
		<%= f.submit 'Send Invite' %>
	</p>
<% end %>